* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: relative;
}

.row {
    width: 100%;
    float: left;
}

.header-top {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

.header-logo img {
    float: left;
    margin: 15px 100px;
    width: 100px;
    height: 30px;
}

.banner {
    height: 580px;
    background-image: url(../images/CMS-Demo-Header-5.jpg);
    background-size: cover;
}

.wapper {
    z-index: 2;
    margin-top: -450px;
    margin-left: 120px;
}

.wapper-left {
    padding-top: 100px;
    float: left;
    width: 40%;
    color: #fff;
    letter-spacing: 1pt;
}

.wapper-header-left h1 {
    font-size: 42px;
    font-weight: 700;
}

.wapper-header-left p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
}

.wapper-right {
    line-height: 2;
    padding: 150px 50px 0 50px;
    float: left;
    width: 45%;
    background-color: #fff;
}

.wapper-des-left {
    color: #333;
    padding-top: 140px;
    line-height: 2.5;
    text-align: justify;
}

.wapper-des-left li {
    margin-left: 30px;
    padding-left: 10px;
}

.left-phone {
    color: #335090;
}

input {
    width: 200px;
    height: 40px;
    background-color: #f5f8fa;
}

.wapper-des-right {
    padding-top: 50px;
    line-height: 3;
    text-align: justify;
}

.wapper-right-button {
    margin-top: 30px;
    padding: 10px 15px;
    width: 180px;
    height: 50px;
    background-color: #ff7a59;
    color: #fff;
    border-radius: 5px;
}

.right-checkbox {
    width: 20px;
    float: left;
}

.right-subcribe {
    float: left;
    margin-left: 10px;
    padding-top: 5px;
    color: #335090;
    font-weight: bold;
}

.right-policy {
    color: #335090;
}

.footer {
    background-color: #2d3e50;
    min-height: 100px;
    margin-top: 50px;
}

.footer-copyright {
    color: #fff;
    text-align: center;
    padding: 30px;
}